<!--
  ~ /*
  ~  (C) Copyright 2016 Ymatou (http://www.ymatou.com/).
  ~  All rights reserved.
  ~  */
  -->

<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="执行日志列表" ba-panel-class="with-scroll">
        <div style="padding-bottom:20px;">
          <form novalidate>
              <pre style="padding-top: 10px;white-space: nowrap">
                                 监控名称<input name="name" type="text" ng-model="logger.monitorName">
                  &nbsp;&nbsp;执行人<input name="execUser" type="text" ng-model="logger.execUser">
                  &nbsp;&nbsp;执行时间<input class="laydate-icon" id="execTime" name="execTime" ng-model="logger.execTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                  <button class="btn btn-primary btn-large" ng-click="search()">查询</button>
              </pre>
          </form>
        </div>
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr>
              <th class="table-id" >#</th>
              <th>监控名称</th>
              <th>执行人</th>
              <th>执行时间</th>
              <th>结果集Count</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in loggerList">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.monitorName}}</td>
              <td>{{item.execUser}}</td>
              <td>{{item.execTime}}</td>
              <td>{{item.resultTime}}</td>
              <td title="{{item.request}}">{{item.request |limit:100}}</td>
              <td title="{{item.response}}">{{item.response |limit:100}}</td>
            </tr>
            </tbody>
          </table>
          <paging
                  page="page"
                  page-size="pageSize"
                  total="total"
                  show-prev-next="true"
                  show-first-last="true"
                  scroll-top="true"
                  paging-action="pagingAction(page, pageSize,total)"
                  ></paging>
        </div>
      </div>
    </div>
  </div>

</div>